/* ===========================
 *--- MIXINS
 *============================ */
/* ===========================
 *--- General
 *============================ */
/* line 15, ../sass/general/_mastergen.sass */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  height: 100%;
}

/* line 20, ../sass/general/_mastergen.sass */
html, body {
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/general/_mastergen.sass */
html {
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/general/_mastergen.sass */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 32, ../sass/general/_mastergen.sass */
ul.inline li {
  padding: 150px 0;
  text-align: center;
  width: 33%;
  display: inline-block;
}
/* line 37, ../sass/general/_mastergen.sass */
ul.inline li.grey {
  background-color: #e9e9e9;
}
/* line 39, ../sass/general/_mastergen.sass */
ul.inline li.beige {
  background-color: #fbfbfb;
}

/* line 41, ../sass/general/_mastergen.sass */
a {
  text-decoration: none;
  letter-spacing: 2px;
}
/* line 44, ../sass/general/_mastergen.sass */
a.tags {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #c41230;
  padding: 5px 20px;
  border: 1px solid silver;
  margin-top: 10px;
}
/* line 50, ../sass/general/_mastergen.sass */
a.button {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  border: 1px solid #979797;
  color: #333333;
  text-transform: uppercase;
  padding: 10px 35px;
  float: right;
}

/* line 59, ../sass/general/_mastergen.sass */
.dark a.button {
  color: #eaeaea;
}

/* line 62, ../sass/general/_mastergen.sass */
.container {
  width: 1200px;
  margin: 0 auto;
  display: block;
}
/* line 66, ../sass/general/_mastergen.sass */
.container:after {
  clear: both;
}

/* line 69, ../sass/general/_mastergen.sass */
.menu-icon, .menu-iconx {
  display: none;
}

/* ===========================
 *--- Navigation - navbar
 *============================ */
/* line 5, ../sass/layout/_section.sass */
.navigation {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 4px;
  color: #333333;
  display: block;
  padding: 30px 0;
}

/* line 11, ../sass/layout/_section.sass */
.navbar {
  float: right;
}
/* line 13, ../sass/layout/_section.sass */
.navbar ul {
  display: inline-block;
  list-style: none;
}
/* line 16, ../sass/layout/_section.sass */
.navbar li {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
}
/* line 21, ../sass/layout/_section.sass */
.navbar li:last-child {
  padding-right: 0px;
}
/* line 23, ../sass/layout/_section.sass */
.navbar a {
  text-decoration: none;
  color: #333333;
}

/* line 27, ../sass/layout/_section.sass */
.logo {
  display: inline-block;
}

/* ===========================
 *--- Header, Intro
 *============================ */
/* line 34, ../sass/layout/_section.sass */
.header {
  margin-top: 0;
  width: 100%;
  background-image: url(../img/diwanee-cover.png);
  background-position: center bottom;
}
/* line 39, ../sass/layout/_section.sass */
.header .intro {
  text-align: center;
  padding: 20px 0 200px;
}
/* line 42, ../sass/layout/_section.sass */
.header .intro h2 {
  font-weight: 600;
  font-size: 120px;
  line-height: 130px;
  letter-spacing: 1px;
  color: #333333;
  text-transform: uppercase;
  margin: 100px 0px 20px;
  padding: 0;
}
/* line 48, ../sass/layout/_section.sass */
.header .intro p {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #333333;
  padding: 40px 250px 60px;
}

/* line 53, ../sass/layout/_section.sass */
.service {
  color: #333333;
  line-height: 30px;
}
/* line 56, ../sass/layout/_section.sass */
.service h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
/* line 59, ../sass/layout/_section.sass */
.service p {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  padding: 0 50px;
}

/* ===========================
 *--- Career
 *============================ */
/* line 67, ../sass/layout/_section.sass */
.career-row {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 71, ../sass/layout/_section.sass */
.info-text {
  padding: 120px 0 40px;
}
/* line 73, ../sass/layout/_section.sass */
.info-text h3 {
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0 70px;
  padding: 0;
}

/* line 81, ../sass/layout/_section.sass */
p {
  text-align: center;
}
/* line 83, ../sass/layout/_section.sass */
p.higher {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 5px;
  color: silver;
  text-transform: uppercase;
}
/* line 87, ../sass/layout/_section.sass */
p.lower {
  font-weight: 300;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #333333;
  padding: 50px 150px;
}

/* line 92, ../sass/layout/_section.sass */
.career-jobs {
  padding: 60px 20px 80px 120px;
}
/* line 94, ../sass/layout/_section.sass */
.career-jobs h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 2.33;
  color: #333333;
  text-align: left;
  text-transform: uppercase;
}
/* line 99, ../sass/layout/_section.sass */
.career-jobs p {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0px;
  display: inline;
  color: #888888;
}

/* line 104, ../sass/layout/_section.sass */
.dark {
  background-color: #2d2d2d;
}
/* line 106, ../sass/layout/_section.sass */
.dark h3 {
  color: white;
}

/* line 109, ../sass/layout/_section.sass */
.career-jobs ul {
  list-style: none;
}
/* line 111, ../sass/layout/_section.sass */
.career-jobs ul li {
  display: inline-block;
}

/* line 114, ../sass/layout/_section.sass */
.skills {
  padding: 0px;
  margin-top: 40px;
}

/* line 118, ../sass/layout/_section.sass */
.career-bottom {
  text-align: center;
  margin: 50px 0;
}

/* line 122, ../sass/layout/_section.sass */
a.more {
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  border: 1px solid silver;
  color: #333333;
  text-transform: uppercase;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
}

/* ===========================
 *--- About
 *============================ */
/* line 135, ../sass/layout/_section.sass */
.about {
  background-color: #fbfbfb;
}
/* line 136, ../sass/layout/_section.sass */
.about .info-text {
  padding: 120px 0 40px;
}
/* line 137, ../sass/layout/_section.sass */
.about .info-text h3 {
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0 70px;
  padding: 0;
}

/* line 147, ../sass/layout/_section.sass */
p.bottom-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #333333;
  text-align: justify;
  padding: 40px 15% 20px;
  margin: 0;
}

/* line 154, ../sass/layout/_section.sass */
#newrow {
  padding-top: 10px;
}

/* ===========================
 *--- Contact
 *============================ */
/* line 161, ../sass/layout/_section.sass */
.contact {
  text-align: center;
  padding: 60px 0 80px;
}
/* line 164, ../sass/layout/_section.sass */
.contact .icons {
  margin: 5px;
}

/* ===========================
 *--- Footer
 *============================ */
/* line 171, ../sass/layout/_section.sass */
.footer {
  background-color: #2d2d2d;
}

/* line 174, ../sass/layout/_section.sass */
ul.office {
  padding-left: 30px;
  padding-right: 0;
}
/* line 177, ../sass/layout/_section.sass */
ul.office li {
  display: inline-block;
  width: 33%;
  padding: 80px 0;
}
/* line 181, ../sass/layout/_section.sass */
ul.office li h5 {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
}
/* line 187, ../sass/layout/_section.sass */
ul.office li img {
  margin-bottom: -5px;
  margin-right: 10px;
}

/* line 191, ../sass/layout/_section.sass */
address {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #9b9b9b;
}

/* ===========================
 *--- Copyright
 *============================ */
/* line 200, ../sass/layout/_section.sass */
.copyright {
  background-color: #222222;
  height: 60px;
}
/* line 203, ../sass/layout/_section.sass */
.copyright span {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #5b5b5b;
  margin: 0;
  position: relative;
}

/* line 209, ../sass/layout/_section.sass */
.partright {
  padding-top: 25px;
}

/* line 212, ../sass/layout/_section.sass */
.itemright {
  float: right;
}
/* line 214, ../sass/layout/_section.sass */
.itemright img {
  width: 30px;
  padding-top: 15px;
  padding-right: 5px;
  float: left;
}

/* line 220, ../sass/layout/_section.sass */
.partleft {
  float: left;
  text-transform: uppercase;
  padding-top: 25px;
}

/* line 225, ../sass/layout/_section.sass */
.partright a {
  text-decoration: none;
  color: #5b5b5b;
  float: right;
  margin-top: 20px;
  padding-left: 5px;
}

/* Toggle menu */
/* line 3, ../sass/modules/_tools.sass */
#navmenu {
  background-color: rgba(51, 51, 51, 0.97);
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
}
/* line 4, ../sass/modules/_tools.sass */
#navmenu ul {
  display: none;
  display: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
/* line 11, ../sass/modules/_tools.sass */
#navmenu ul.expanded {
  display: block;
}
/* line 18, ../sass/modules/_tools.sass */
#navmenu li {
  border-bottom: 1px solid #4b4b4b;
}
/* line 20, ../sass/modules/_tools.sass */
#navmenu a {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #252525;
  color: #eaeaea;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 29, ../sass/modules/_tools.sass */
.visiblex {
  display: inline-block;
  float: right;
  margin-right: 5px;
}

/* line 35, ../sass/modules/_tools.sass */
#lileft {
  text-align: left;
}
/* line 37, ../sass/modules/_tools.sass */
#lileft a {
  float: left;
  margin-left: 10px;
}

/* line 41, ../sass/modules/_tools.sass */
.follow-icon {
  float: right;
  padding-top: 5px;
  margin-right: 10px;
}

/* ===========================
 * --- Responsivnes
 * ============================ */
@media only screen and (max-width: 1200px) {
  /* line 7, ../sass/rwd/_responsivnes.sass */
  .container {
    width: 100%;
  }

  /* line 10, ../sass/rwd/_responsivnes.sass */
  .header {
    background-position: center;
    background-size: cover;
  }

  /* line 14, ../sass/rwd/_responsivnes.sass */
  .logo {
    margin-left: 20px;
  }

  /* line 17, ../sass/rwd/_responsivnes.sass */
  .navbar {
    margin-right: 20px;
  }

  /* line 20, ../sass/rwd/_responsivnes.sass */
  .copyright span {
    margin-left: 20px;
  }

  /* line 23, ../sass/rwd/_responsivnes.sass */
  .itemright {
    margin-right: 20px;
  }

  /* line 26, ../sass/rwd/_responsivnes.sass */
  ul.inline li {
    padding: 60px 0;
  }

  /* line 29, ../sass/rwd/_responsivnes.sass */
  .service p {
    font-size: 18px;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 35, ../sass/rwd/_responsivnes.sass */
  .navigation {
    padding: 15px 0;
  }

  /* line 38, ../sass/rwd/_responsivnes.sass */
  .service ul li {
    width: 100%;
    display: block;
  }

  /* line 42, ../sass/rwd/_responsivnes.sass */
  p.lower {
    font-size: 26px;
    line-height: 30px;
    padding: 20px;
  }

  /* line 46, ../sass/rwd/_responsivnes.sass */
  .career-jobs {
    padding: 30px 20px 40px 20px;
  }

  /* line 49, ../sass/rwd/_responsivnes.sass */
  .header .intro p {
    padding: 20px 50px 30px;
  }
}
@media only screen and (max-width: 390px) and (orientation: portrait) {
  /* line 54, ../sass/rwd/_responsivnes.sass */
  .navigation {
    padding: 15px 0;
  }

  /* line 57, ../sass/rwd/_responsivnes.sass */
  .navbar {
    display: none;
  }

  /* line 60, ../sass/rwd/_responsivnes.sass */
  .menu-icon {
    display: inline;
    float: right;
  }

  /* line 65, ../sass/rwd/_responsivnes.sass */
  .header .intro {
    padding: 0 0 100px;
  }
  /* line 67, ../sass/rwd/_responsivnes.sass */
  .header .intro h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 40px 0px 15px;
  }
  /* line 70, ../sass/rwd/_responsivnes.sass */
  .header .intro p {
    padding: 0;
    font-size: 18px;
    line-height: 22px;
  }
  /* line 73, ../sass/rwd/_responsivnes.sass */
  .header .intro p span {
    display: none;
  }

  /* line 76, ../sass/rwd/_responsivnes.sass */
  .service ul li {
    width: 100%;
  }

  /* line 79, ../sass/rwd/_responsivnes.sass */
  .logo {
    margin-left: 15px;
  }
  /* line 81, ../sass/rwd/_responsivnes.sass */
  .logo img {
    width: 110px;
  }

  /* line 85, ../sass/rwd/_responsivnes.sass */
  .service h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
  }
  /* line 87, ../sass/rwd/_responsivnes.sass */
  .service p {
    font-size: 12px;
    line-height: 18px;
    padding: 0 25px;
  }

  /* line 91, ../sass/rwd/_responsivnes.sass */
  ul.inline li {
    padding: 60px 0;
  }

  /* line 94, ../sass/rwd/_responsivnes.sass */
  .info-text h3 {
    font-size: 28px;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
  }

  /* line 98, ../sass/rwd/_responsivnes.sass */
  p.higher {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
  }

  /* line 101, ../sass/rwd/_responsivnes.sass */
  .info-text {
    padding: 50px 0 15px;
  }

  /* line 104, ../sass/rwd/_responsivnes.sass */
  p.lower {
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding: 10px 30px;
  }

  /* line 109, ../sass/rwd/_responsivnes.sass */
  .career-jobs {
    padding: 25px 10px 30px 30px;
  }
  /* line 111, ../sass/rwd/_responsivnes.sass */
  .career-jobs h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
  }
  /* line 113, ../sass/rwd/_responsivnes.sass */
  .career-jobs p {
    font-size: 12px;
    line-height: 14px;
  }

  /* line 116, ../sass/rwd/_responsivnes.sass */
  a.tags {
    font-size: 8px;
    padding: 3px 10px;
    margin-top: 5px;
  }
  /* line 120, ../sass/rwd/_responsivnes.sass */
  a.button {
    display: none;
  }

  /* line 123, ../sass/rwd/_responsivnes.sass */
  .about .info-text {
    padding: 60px 0 20px;
  }
  /* line 125, ../sass/rwd/_responsivnes.sass */
  .about .info-text h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
    margin: 20px 0 20px;
  }

  /* line 129, ../sass/rwd/_responsivnes.sass */
  p.bottom-text {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 20px 10px;
  }

  /* line 133, ../sass/rwd/_responsivnes.sass */
  .contact {
    padding: 30px 0 40px;
  }

  /* line 136, ../sass/rwd/_responsivnes.sass */
  ul.office {
    padding-left: 0px;
  }

  /* line 139, ../sass/rwd/_responsivnes.sass */
  address {
    font-size: 12px;
    line-height: 16px;
  }

  /* line 142, ../sass/rwd/_responsivnes.sass */
  ul.office li {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  /* line 143, ../sass/rwd/_responsivnes.sass */
  ul.office li h5 {
    font-size: 16px;
    letter-spacing: 2px;
    margin: 10px 0;
  }
  /* line 146, ../sass/rwd/_responsivnes.sass */
  ul.office li img {
    margin-bottom: -3px;
    margin-right: 0px;
  }

  /* line 154, ../sass/rwd/_responsivnes.sass */
  .copyright {
    height: auto;
  }
  /* line 156, ../sass/rwd/_responsivnes.sass */
  .copyright span {
    margin-left: 0px;
    font-size: 10px;
    letter-spacing: 1px;
  }

  /* line 160, ../sass/rwd/_responsivnes.sass */
  .itemright {
    float: none;
    text-align: center;
  }

  /* line 164, ../sass/rwd/_responsivnes.sass */
  .partleft {
    float: none;
    padding-top: 0px;
  }

  /* line 168, ../sass/rwd/_responsivnes.sass */
  .itemleft {
    background-color: #2d2d2d;
    text-align: center;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* line 175, ../sass/rwd/_responsivnes.sass */
  .itemright {
    height: 50px;
    text-align: center;
  }
  /* line 178, ../sass/rwd/_responsivnes.sass */
  .itemright img {
    width: 20px;
    float: none;
    margin-top: 10px;
    padding-top: 0px;
    padding-right: 0px;
  }

  /* line 185, ../sass/rwd/_responsivnes.sass */
  #hidden {
    display: none;
  }

  /* line 188, ../sass/rwd/_responsivnes.sass */
  .partright a {
    text-decoration: none;
    font-size: 12px;
    color: #5b5b5b;
    float: none;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  /* line 196, ../sass/rwd/_responsivnes.sass */
  .hideham {
    display: none;
  }
}
