/* ===========================
--- General
============================ */
body {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	width: 100%;
    height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}

ul.inline li {
    padding: 150px 0;
    text-align: center;
    width: 33%;
    display: inline-block;
}

ul.inline li.grey {
	background-color:#E9E9E9;
}

ul.inline li.beige {
	background-color:#FBFBFB;
}

a.tags {
	font-weight:400;
	font-size: 16px;
	color: #C41230; (red)
	letter-spacing: 2px;
	text-decoration:none;
	padding:5px 20px;
	border:1px solid #C0C0C0;
	margin-top:10px;
}

a.button {
	font-weight:600;
	border: 1px solid #979797;
	font-size: 18px;
	color: #333;
	letter-spacing: 2px;
	line-height: 23px;
	text-transform:uppercase;
	padding:10px 35px;
	text-decoration:none;
	float:right;
}

.dark a.button {
	color:#EAEAEA;
}

.container {
    width: 1200px;
	margin: 0 auto;
    display: block;
}

.container:after {
	clear:both;
}
.menu-icon {
	display:none;
}

/*Toggle menu*/

#navmenu {
    /*padding: 10px;*/
    background-color: rgba(51, 51, 51, 0.97);
    color: #fff;
    text-align: center;
	position:absolute;
	width:100%;
}

#navmenu ul {
    display: none;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

#navmenu ul.expanded {
    display: block;
}

#navmenu li {
	border-bottom:1px solid #4B4B4B;
}
#lileft {
	text-align:left;
}
#lileft a {
	float:left;
	margin-left:10px;
}

#navmenu li a {
	font-weight:600;
	font-size:10px;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #252525;
    color:#EAEAEA;
	letter-spacing:1px;
    text-decoration: none;
	text-transform:uppercase;
}

.follow-icon {
	float:right;
	padding-top:5px;
	margin-right:10px;
}
/* ===========================
--- Navigation - navbar
============================ */
.navigation {
    font-size: 13px;
    color: #333;
    letter-spacing: 4px;
    display: block;
	padding: 30px 0;
}

.navbar ul {
    display: inline-block;
    list-style: none;
}

.navbar ul li {
    position: relative;
    display: inline-block;
	padding: 10px 30px;
	text-transform:uppercase;
}

.navbar ul li a {
   text-decoration:none;
   color: #333;
}
.navbar ul li:last-child {
	padding-right:0px;
}

.logo {
	display:inline-block;
}

.navbar {
    float: right;
    
}
/* ===========================
--- Header, Intro
============================ */
.header {
	margin-top:0;
	width:100%;
	background-image:url(../img/diwanee-cover.png);
	background-position:center bottom;

}

.intro{
	padding: 20px 0 200px;
}

.header .intro h2 {
	font-weight:600;
	font-size: 120px;
	color: #333;
	letter-spacing: 1px;
	text-transform:uppercase;
	margin: 100px 0px 20px;
	padding:0;
	text-align:center;
}

.header .intro p {
	font-size: 30px;
	color: #333;
	letter-spacing: 1px;
	line-height: 40px;
	text-align:center;
	padding:40px 250px 60px;
}

.service h3 {
	font-weight:600;
	font-size: 24px;
	text-transform:uppercase; 
	color: #333;
	letter-spacing: 4px;
	line-height: 30px;
}

.service p {
	font-weight: 400;
	font-size: 20px; 
	color: #333;
	line-height: 30px;
	padding: 0 80px;
}
/* ===========================
--- Career
============================ */

.career-row {
	padding-top:0px;
	padding-bottom:0px;
}

.info-text h3 {
	font-weight:600;	
	font-size: 60px;
	color: #333;
	letter-spacing: 3px;
	line-height: 75px;
	text-transform:uppercase;
	text-align:center;
	margin:50px 0 70px;
	padding:0;
}

.info-text {
	padding: 120px 0 40px;
}

p.higher {
	font-weight: 400;
	font-size: 15px; 
	color: #C0C0C0;
	line-height: 15px;
	letter-spacing: 5px;
	text-transform:uppercase;
	text-align:center;
}

p.lower {
	font-weight:300;
	font-size: 36px;
	color: #333;
	line-height: 50px;
	text-align:center;
	padding:50px 150px;
}

.career-jobs {
	padding:60px 20px 80px 120px;
}

.career-jobs h3 {
	font-weight:600;
	font-size: 28px;
	color: #333333;
	letter-spacing: 2.33px;
	line-height: 36px;
	text-align:left;
	text-transform:uppercase;
}

.career-jobs p {
	font-weight:300;
	font-size: 24px;
	line-height: 34px;
	display:inline;
	color:#888;

}

.dark {
	background-color:#2D2D2D;

}

.dark h3 {
	color:#FFFFFF;
}

.career-jobs ul {
	list-style:none;
}

.career-jobs ul li {
	display:inline-block;
}

.skills {
	padding: 0px;
	margin-top:40px;
}

.career-bottom {
	text-align:center;
	margin:50px 0;	
}

a.more {
	font-weight:600;
	border: 1px solid #C0C0C0;
	font-size: 14px;
	color: #333;
	letter-spacing: 2px;
	line-height: 15px;
	text-transform:uppercase;
	padding:10px 30px;
	text-decoration:none;
	text-align: center;
}
/* ===========================
--- About
============================ */
.about .info-text h3 {
	font-weight:600;	
	font-size: 60px;
	color: #333;
	letter-spacing: 3px;
	line-height: 75px;
	text-transform:uppercase;
	text-align:center;
	margin:50px 0 70px;
	padding:0;
}

.about {
	background-color:#FBFBFB;
}

.about .info-text {
	padding: 120px 0 40px;
}

p.bottom-text {
	font-weight:300;
	font-size: 20px;
	color: #333;
	line-height: 30px;
	text-align:justify;
	padding:40px 170px 20px;
	margin:0;
}
#newrow {
	padding-top: 10px;
}

/* ===========================
--- Contact
============================ */
.contact {
	text-align:center;
	padding:60px 0 80px;
}
.contact .icons {
	margin:5px;
}
/* ===========================
--- Footer
============================ */
.footer {
	background-color:#2D2D2D;
}

ul.office {
	padding-left:30px;
	padding-right:0;
}
ul.office li {
	display:inline-block;
	width:33%;
	padding:80px 0;
}

ul.office li h5 {
	display:inline-block;
	font-weight:400;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-transform:uppercase;
	margin:20px 0;
}

ul.office li img {
	margin-bottom:-5px;
	margin-right:10px;
	
}

address {
	font-style:normal;
	font-weight:300;
	font-size: 18px;
	color: #9B9B9B;
	line-height: 28px;
}
/* ===========================
--- Copyright
============================ */
.copyright {
	background-color:#222222;
	height:60px;
}

.copyright span {
	font-weight: 400;
	font-size: 12px;
	color: #5B5B5B;
	letter-spacing: 2px;
	margin:0;
	position: relative;
  
}

.partright {
	padding-top:25px;
}

.itemright img {
	width:30px;
	padding-top:15px;
	padding-right:5px;
	float:left;
}

.partleft {
	float:left;
	text-transform:uppercase;
	padding-top:25px;
}
.partright a {
	text-decoration:none;
	color:#5B5B5B;
	float:right;
	margin-top:20px;
	padding-left:5px;
	
}
.itemright {
	float:right;
}


/* ===========================
--- Responsivnes
============================ */

@media only screen and (max-width: 1200px) {

.container {
	width:100%;
}

.header{
	background-position:center;
	background-size:cover;
}

.logo {
	margin-left:20px;
}

.navbar {
	margin-right:20px;
}

.copyright span {
	margin-left:20px;
}

.itemright {
	margin-right:20px;
}

}

@media only screen and (max-width: 768px) {
.navigation {
    padding:15px 0;
}

.navbar {
    display:none;
}

.menu-icon {
    display:inline;
    float:right;
}

.service ul li {
	width:100%;
	display:block;
	
}

.header .intro p {
    padding: 20px 150px 30px;
}

}

@media only screen and (max-width: 320px) and (orientation: portrait) {

.container{
	width:100%;
}
.navigation {
	padding:15px 0;
}

.navbar {
	display:none;
}

.menu-icon {
	display:inline;
	float:right;
}

.header{
	background-position:center;
	background-size:cover;
}

.header .intro h2 {
    font-size: 40px;
	margin: 40px 0px 15px;   
}

.header .intro p {
	padding:0;
    font-size: 18px;
    line-height: 22px;
}

.intro {
	padding:0 0 90px;
}


.intro p {
	font-weight:600;
	text-transform:uppercase;
}

.intro p span {
	display:none;
}

.service ul li {
	width:100%;
	display:block;
	
}
    
.logo {
	margin-left:15px;
}

.logo img {
	width:110px;
}

.service h3 {
    font-size:16px;
    text-transform: uppercase;
    letter-spacing:3px;
    line-height: 20px;
}

ul.inline li {
    padding: 60px 0;
   
}
.service p {
    font-size: 12px;
    line-height: 18px;
    padding: 0 25px;
}

.info-text h3 {
    font-size: 28px;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
}

p.higher {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
}

.info-text {
    padding: 50px 0 15px;
}

p.lower {
    font-size: 18px;
    color: #333;
    line-height: 24px;
    padding: 10px 30px;
}

.career-jobs {
    padding:25px 10px 30px 30px;
}

.career-jobs h3 {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
}

.career-jobs p {
    font-size: 12px;
    line-height: 14px;
}

a.tags {
    font-size: 8px;
    padding: 3px 10px;
    margin-top: 5px;
}
    
a.button {
   display:none;
}

.about .info-text {
    padding: 60px 0 20px;
}

.about .info-text h3 {
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 40px;
    margin: 20px 0 20px;
}

p.bottom-text {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 20px 10px;
}

.contact {
    padding: 30px 0 40px;
}

ul.office {
    padding-left:0px;
}

address {
    font-size: 12px;
    line-height: 16px;
}

ul.office li h5 {
    font-size: 16px;
    letter-spacing: 2px;
    margin: 10px 0;
}
    
ul.office li img {
    margin-bottom: -3px;
    margin-right:0px;
}

ul.office li {
    display:block;
    width: 100%;
    padding: 20px 0;
	text-align:center;
}

.copyright {
	height:auto;
}
    
.copyright span {
	margin-left:0px;
    font-size: 10px;
    letter-spacing: 1px;
}

.itemright {
    float: none;
	text-align:center;
}

.partleft {
    float: none;
	padding-top: 0px;
	
}

.itemleft {
	background-color:#2D2D2D;
	text-align:center;
	height:20px;
	padding-top:5px;
	padding-bottom:5px;
}

.itemright {
	height:50px;
	text-align:center;
}

.itemright img {
	width:20px;
	float: none;
	margin-top: 10px;
	padding-top:0px;
    padding-right: 0px;
	
}

#hidden {
	display:none;
}

.partright a {
    text-decoration: none;
    font-size: 12px;
    color: #5B5B5B;
    float: none;
	margin-bottom:20px;
	margin-left:10px;
}
	

}



