/* ===========================
 *--- Navigation - navbar
 *============================

.navigation
  +few-prop($regular-weight, 13px, 16px, 4px)
  color: $font-color
  display: block
  padding: 30px 0

.navbar
  float: right 
  ul
    display: inline-block
    list-style: none
  li
    position: relative
    display: inline-block
    padding: 10px 30px
    text-transform: $let-up
    &:last-child
      padding-right: 0px
  a
    text-decoration: none
    color: $font-color
    
.logo
  display: inline-block

/* ===========================
 *--- Header, Intro
 *============================

.header
  margin-top: 0
  width: $full
  background-image: url(../img/diwanee-cover.png)
  background-position: center bottom
  .intro
    text-align: center
    padding: $sweet-rate 0 $sweet-rate*10
    h2
      +few-prop($bold-weight, $sweet-rate*6, 130px, 1px)
      color: $font-color
      text-transform: $let-up
      margin: $sweet-rate*5 0px $sweet-rate
      padding: 0
    p
      +few-prop($regular-weight, 30px, $sweet-rate*2, 1px)
      color: $font-color
      padding: $sweet-rate*2 250px $sweet-rate*3

.service
  color: $font-color
  line-height: $sweet-rate + 10
  h3
    +few-prop($bold-weight, 24px, 30px, 4px)
    text-transform: $let-up
  p
    +few-prop($light-weight, $sweet-rate, 26px, 1px)
    padding: 0 $sweet-rate*2+10

/* ===========================
 *--- Career
 *============================

.career-row
  padding-top: 0px
  padding-bottom: 0px

.info-text
  padding: $sweet-rate*6 0 $sweet-rate*2
  h3
    +few-prop($bold-weight, $sweet-rate*3, 75px, 3px)
    color: $font-color
    text-transform: $let-up
    text-align: center
    margin: 50px 0 70px
    padding: 0
  
p
  text-align: center
  &.higher
    +few-prop($regular-weight, 15px, 15px, 5px)
    color: $silver
    text-transform: $let-up
    margin-bottom: 30px
  &.lower
    +few-prop($light-weight, 36px, 50px, 1px)
    color: $font-color
    padding: 50px 150px

.career-jobs
  padding: $sweet-rate*3 $sweet-rate $sweet-rate*4 $sweet-rate*6
  h3
    +few-prop($bold-weight, 28px, 36px, 2.33)
    color: $font-color
    text-align: left
    text-transform: $let-up
  p
    +few-prop($light-weight, 24px, 34px, 0px)
    display: inline
    color: $light-grey

.dark
  background-color: $darkpart
  h3
    color: $white

.career-jobs ul
  list-style: none
  li
    display: inline-block

.skills
  padding: 0px
  margin-top: $sweet-rate*2

.career-bottom
  text-align: center
  margin: 50px 0

a.more
  +few-prop($bold-weight, 14px, 15px, 2px)
  border: 1px solid $silver
  color: $font-color
  text-transform: $let-up
  padding: 10px 30px
  text-decoration: none
  text-align: center

/* ===========================
 *--- About
 *============================

.about
  .info-text
    h3
      +few-prop($bold-weight, $sweet-rate*3, 75px, 3px)
      color: $font-color
      text-transform: $let-up
      text-align: center
      margin: 50px 0 70px
      padding: 0
    padding: $sweet-rate*6 0 $sweet-rate*2
  background-color: $beige

p.bottom-text
  +few-prop($light-weight, $sweet-rate, 30px, 1px)
  color: $font-color
  text-align: justify
  padding: 40px 15% $sweet-rate
  margin: 0

#newrow
  padding-top: 10px

/* ===========================
 *--- Contact
 *============================

.contact
  text-align: center
  padding: $sweet-rate*3 0 $sweet-rate*4
  .icons
    margin: 5px

/* ===========================
 *--- Footer
 *============================

.footer
  background-color: $darkpart

ul.office
  padding-left: 30px
  padding-right: 0
  li
    display: inline-block
    width: 33%
    padding: $sweet-rate*4 0
    h5
      display: inline-block
      +few-prop($regular-weight, 18px, 20px, 2px)
      color: $white
      text-transform: $let-up
      margin: $sweet-rate 0
    img
      margin-bottom: -5px
      margin-right: 10px

address
  font-style: normal
  +few-prop($light-weight, 18px, 28px, 1px)
  color: $easy-grey

/* ===========================
 *--- Copyright
 *============================

.copyright
  background-color: $dark-grey
  height: $sweet-rate*3
  span
    +few-prop($regular-weight, 12px, 12px, 2px)
    color: $copy-color
    margin: 0
    position: relative

.partright
  padding-top: 25px

.itemright 
  float: right
  img
    width: 30px
    padding-top: 15px
    padding-right: 5px
    float: left

.partleft
  float: left
  text-transform: $let-up
  padding-top: 25px

.partright a
  text-decoration: none
  color: $copy-color
  float: right
  margin-top: $sweet-rate
  padding-left: 5px
  