/* ===========================
 *--- General
 *============================

body
  font-family: 'Source Sans Pro', sans-serif
  font-weight: $regular-weight
  height: $full

html, body
  margin: 0
  padding: 0

html
  width: $full
  height: $full

ul
  list-style: none
  padding: 0
  margin: 0
  &.inline li
    padding: 150px 0
    text-align: center
    width: 33%
    display: inline-block
    &.grey
      background-color: #E9E9E9
    &.beige
      background-color: #FBFBFB

a
  text-decoration: none
  letter-spacing: 2px
  &.tags
    font-weight: $regular-weight
    font-size: 16px
    color: #C41230
    padding: 5px $sweet-rate
    border: 1px solid $silver
    margin-top: 10px
  &.button
    font-weight: $bold-weight
    border: 1px solid #979797
    font-size: 18px
    color: $font-color
    line-height: 23px
    text-transform: $let-up
    padding: 10px 35px
    float: right


.dark a.button
  color: #EAEAEA

.container
  width: 1200px
  margin: 0 auto
  display: block
  &:after
    clear: both

.menu-icon, .menu-iconx
  display: none
